@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.duration-container,
.player-controls {
  margin-bottom: 5px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.player {
  z-index: 100;
}

.track-name {
  text-align: left;
  transition: all 0.3;
}

.controls-container {
  width: 120px;
  margin: 20px 0 20px;
}


.timeline {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  border-radius: 10px;
}

.progress {
  position: relative;
  width: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2px;
  transition: width 0.1s linear;
}

/* slider */

.input-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 2px;
  /* transition: all 0.3s; */
  background-image: linear-gradient(#ffffff, #ffffff);
  /* background-size: 50% 100%; */
  background-repeat: no-repeat;
}

.input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s;
}

.input-slider::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}

.input-slider::-webkit-slider-thumb:active {
  transform: scale(2);
}

.input-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}

/* slider */

.field {
  position: relative;
  outline: 1px red solid;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}

.circle {
  position: absolute;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.circle:hover {
  transform: scale(1.5);
}

.circle:active {
  transform: scale(2);
}

.duration {
  width: 100%;
  /* margin-top: 5px; */
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.volume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-button {
  flex: 0 0 16px;
  height: 16px;
  margin-right: 16px;
  background-image: url("../assets/svg/volume.svg");
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume-button.mute {
  background-image: url("../assets/svg/volume-off.svg");
}

.volume-container .progress {
  max-width: 88px;
  background-color: initial;
  background-color: red;
}

.volume-container .field {
  width: 88px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  margin-left: 25px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: opacity .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../assets/svg/play.svg);
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(0%, -50%);
}

.item-active {
  border-radius: 15px;
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.item-active::before {
  background-image: url(../assets/svg/pause.svg);
  opacity: 1;
}

.item-active-pause::before {
  background-image: url(../assets/svg/play.svg);
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-container {
  position: relative;
  align-self: baseline;
}

.settings {
  width: 48px;
  height: 48px;
  margin: 26px 0 0;
  background-image: url("../assets/svg/settings.svg");
  background-size: 48px 48px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.settings:hover {
  opacity: 1;
}

.settings:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
  transform: rotate(180deg);
}

.change-quote:active {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
