@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(34, 34, 34, 0.9);
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("/assets/svg/loading.svg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.duration-container,
.player-controls {
  margin-bottom: 5px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.player {
  z-index: 100;
}

.track-name {
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  transition: all 0.3;
}

.controls-container {
  width: 120px;
  margin: 0px 0 20px;
}


.timeline {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  border-radius: 10px;
}

.progress {
  position: relative;
  width: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2px;
  transition: width 0.1s linear;
}

/* slider */

.input-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 2px;
  /* transition: all 0.3s; */
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.input-slider:hover {
  opacity: 1;
}

.input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s;
}

.input-slider::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}

.input-slider::-webkit-slider-thumb:active {
  transform: scale(2);
}

.input-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}

/* slider */

/* settings */

.settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  background-image: url("../assets/svg/settings.svg");
  background-size: 45px 45px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: 0.5s;
}

.settings:hover {
  opacity: 1;
}

.settings:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.settings-block {
  position: fixed;
  bottom: 70px;
  left: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: #222222;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.settings-block::before {
  content: "";
  position: absolute;
  z-index: 9999;
  bottom: -12px;
  left: 15px;
  border: 7px solid transparent;
  border-top: 7px solid rgb(255, 255, 255);
}

.settings-block.none {
  transform-origin: bottom left;
  transform: scale(0);
  opacity: 0;
}

.form-container {}

.form-list {
  list-style: none;
}

.form-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px 2px;
  /* border: 1px red solid; */
}

.form-list-item:not(:last-child) {
  /* border-bottom: 1px rgba(126, 126, 126, 0.1) solid; */
}

.settings-label {
  text-align: left;
  flex: 1 0 auto;
  padding: 3px 20px 2px 0px;
}

.settings-select {
  flex: 1 0 auto;
  border: none;
  outline: none;
  text-align: right;
  background-color: transparent;
}

.tag-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px;
}

.tag-clear {
  width: 15px;
  height: 15px;
  background-image: url(../assets/svg/close.svg);
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  opacity: 0.6;
  transition: all 0.3s;
}

.tag-input {
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}

.tag-clear:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* .tag-add:active {
  transform: scale(1.1);
} */

/* settings */

/* setnone */

.player,
.weather,
.time,
.date,
.greeting-container,
.footer,
.todo-container {
  transition: opacity 0.5s, transform 0.5s, transform-origin 0.5s;
}

.player.none-top {
  transform-origin: top left;
  transform: scale(0);
  opacity: 0;
}

.none-top {
  transform: scale(0);
  opacity: 0;
}

.weather.none-top {
  transform-origin: top right;
  transform: scale(0);
  opacity: 0;
}

/* setnone */

/* todo */

.todo-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../assets/svg/list.svg");
  background-size: 40px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.todo-button:hover {
  opacity: 1;
}

.todo-button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.todo-list {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 1);
  color: #222222;
  border-radius: 10px;
  box-shadow: -5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.todo-list::before {
  content: "";
  position: absolute;
  z-index: 9999;
  bottom: -12px;
  right: 24px;
  border: 7px solid transparent;
  border-top: 7px solid rgb(255, 255, 255);
}

.todo-list.none {
  transform-origin: bottom right;
  transform: scale(0);
  opacity: 0;
}

.todo-option-container {
  text-align: left;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.clear-container {
  flex: 1 0 auto;
  text-align: end;
}

.clear-button {
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s;
}

.clear-button:hover {
  opacity: 0.8;
}

.clear-button:active {
  transform: scale(1.1);
}

.todo-select {
  border: none;
  outline: none;
  background-color: transparent;
}

.todo-block {
  max-height: 150px;
  overflow: scroll;
  flex: 1 0 auto;
  text-align: left;
}

.todo-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2px 0 3px;
}

.todo-input[type='checkbox'] {}

.todo-item .todo-label {
  flex: 1 1 auto;
  display: block;
  word-wrap: break-word;
  overflow: auto;
  margin: 0 5px;
}

.delete {
  flex: 0 0 auto;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-image: url("../assets/svg/close.svg");
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.6;
  border: none;
  outline: none;
  transition: all 0.2s;
}

.todo-item:hover .delete {
  transform: scale(1);
  opacity: 0.8;
}

.delete:hover {
  transform: scale(1.1);
}

.delete.none {
  transform: scale(0);
}

.todo-input:checked+.todo-label {
  opacity: 0.5;
  text-decoration: line-through;
  transition: all 0.3s 0.1s;
}

.todo-input-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  transition: height 0.3s;
  /* border: 1px red solid; */
}

.todo-input.text {
  width: 100%;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}

.todo-add {
  width: 20px;
  height: 20px;
  background-image: url(../assets/svg/add.svg);
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  opacity: 0.6;
  transition: all 0.3s;
}

.todo-add:hover {
  cursor: pointer;
  opacity: 0.8;
}

.todo-add:active {
  transform: scale(1.1);
}

/* todo */

/* .field {
  position: relative;
  outline: 1px red solid;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
} */

.circle {
  position: absolute;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.circle:hover {
  transform: scale(1.5);
}

.circle:active {
  transform: scale(2);
}

.duration {
  width: 100%;
  /* margin-top: 5px; */
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.volume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-button {
  flex: 0 0 16px;
  height: 16px;
  margin-right: 16px;
  background-image: url("../assets/svg/volume.svg");
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume-button:hover {
  opacity: 1;
}

.volume-button.mute {
  background-image: url("../assets/svg/volume-off.svg");
}

.volume-container .progress {
  max-width: 88px;
  background-color: initial;
  background-color: red;
}

.volume-container .field {
  width: 88px;
}

.play-list {
  text-align: left;
}


.play-item {
  position: relative;
  padding: 5px;
  margin-left: 25px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: opacity .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../assets/svg/play.svg);
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(0%, -50%);
}

.item-active {
  border-radius: 15px;
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.item-active::before {
  background-image: url(../assets/svg/pause.svg);
  opacity: 1;
}

.item-active-pause::before {
  background-image: url(../assets/svg/play.svg);
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
